:root {
    --hue: 0;
    --angle: 45deg;
    height: 100%;
    background: linear-gradient(
        var(--angle), 
        hsl(var(--hue), 50%, 70%),
        hsl(calc(var(--hue) + 120), 50%, 70%),
        hsl(calc(var(--hue) + 240), 50%, 70%));
}

* {
    text-align: center;
    font-size: 50px;
}

.timer {
    padding-top: 250px;
}

.button-container {
    display: flex;
    width: 450px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    margin: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

button:active {
    background-color: rgba(255, 255, 255, 0.7);
}
